@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "~antd/dist/antd.css";

body {
  background: #3d4559 !important;
}
.container {
  position: relative;
  top: 50px;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}
.ant-upload.ant-upload-select-picture-card {
  width: 100% !important;
  height: 8rem !important;
}
